<app-layout-page [title]="'Employee List'">
  <div class="employee-list-container">
    <section class="top">
      <button class="btn-primary-submit">Add Employee</button>
      <form class="filter" [formGroup]="form" (ngSubmit)="onFilter()">

        <div class="search">
          <input type="text" placeholder="Search" formControlName="search">
          <div class="icon"><mat-icon aria-hidden="false" fontIcon="search"></mat-icon></div>
        </div>

        <app-shared-dropdown-v2
          formControlName="selectedOption"
          [options]="dropdownOptions"
          (ngModelChange)="OnDropDown($event)"
          placeholder="Short by"
        ></app-shared-dropdown-v2>

      </form>
    </section>

    <section class="employee-table">
      <table>
        <thead>
          <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Basic Salary</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let emp of paginatedEmployees">
            <td>{{emp.username}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.basicSalary | rupiah}}</td>
            <td>{{emp.status}}</td>
            <td class="flex justify-center items-center"><button><mat-icon aria-hidden="false" fontIcon="search"></mat-icon></button></td>
          </tr>
        </tbody>
      </table>
    </section>

    <div class="paginate">
      <mat-paginator
        [length]="totalEmployees"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</app-layout-page>
