.employee-list-container{
  .top{
    @apply py-4 flex flex-wrap justify-between items-center gap-2;
    .btn-primary-submit{
      @apply w-fit font-medium text-f-12 mt-0 px-4 py-2 mx-4 lg:mx-4;
    }

    .filter{
      @apply flex flex-wrap mx-4 items-center gap-2;

      .search{
        @apply relative;
        input{
          @apply bg-secondary-rzaDarkBlue100 text-f-14 border border-primary-rzaGrey40 rounded-lg py-2 pl-8 focus:border-primary-rzaGrey60 focus:outline-none;
        }
        .icon{
          @apply absolute top-[20%] left-2;
        }
      }
    }
  }

  .employee-table{
    @apply lg:mt-6;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    table {
      width: 100%;
      min-width: 600px;
      border-collapse: collapse;
      font-size: 16px;
    }

    th, td {
      @apply text-primary-rzaGrey80;
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #f0f0f0;
    }

    th {
      @apply text-primary-rzaGrey80;
      font-weight: bold;
      text-wrap: nowrap;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    @media (max-width: 768px) {
      table {
        font-size: 14px;
      }
    }
  }
}

.paginate{
  @apply mt-3 pb-10 lg:pb-2;
  ::ng-deep{
    .mat-mdc-paginator-container{
      @apply bg-primary-rzaWhite;
    }
  }
}

::ng-deep{
  .custom-snackbar {
    .mat-mdc-snackbar-surface{
      background-color: #f7cc09 !important;
      color: rgb(0, 0, 0) !important;
    }

    .mdc-button__label{
      color: rgb(0, 73, 184) !important;
    }
  }

  .custom-snackbar-del{
    .mat-mdc-snackbar-surface{
      background-color: #f71909 !important;
      color: rgb(255, 255, 255) !important;
    }

    .mdc-button__label{
      color: rgb(109, 168, 255) !important;
    }
  }
}

.label {
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.label-active {
  @apply px-4 py-2 bg-secondary-rzaHoneyDew text-secondary-rzaGreen border border-secondary-rzaGreen rounded-lg text-f-12;
}

.label-probation {
  @apply px-4 py-2 bg-secondary-rzaPapayaWhip text-secondary-rzaWarningYellow border border-secondary-rzaTopaz rounded-lg text-f-12
}

.label-inactive {
  @apply px-4 py-2 text-primary-rzaRed border rounded-lg text-f-12;
  border-color: #DB2941;
  background-color: #fDDDD4;
}
