.employee-list-container{
  .top{
    @apply py-4 flex flex-wrap justify-between items-center gap-2;
    .btn-primary-submit{
      @apply w-fit font-medium text-f-12 mt-0 px-4 py-2 mx-4;
    }

    .filter{
      @apply flex flex-wrap mx-4 items-center gap-2;

      .search{
        @apply relative;
        input{
          @apply bg-secondary-rzaDarkBlue100 text-f-14 border border-primary-rzaGrey40 rounded-lg py-2 pl-8 focus:border-primary-rzaGrey60 focus:outline-none;
        }
        .icon{
          @apply absolute top-[20%] left-2;
        }
      }
    }
  }

  .employee-table{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    table {
      width: 100%;            /* Full width of the container */
      min-width: 600px;       /* Minimum width to force scroll on smaller screens */
      border-collapse: collapse;
      font-size: 16px;
    }

    th, td {
      padding: 12px;
      text-align: left;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
      text-wrap: nowrap;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    @media (max-width: 768px) {
      table {
        font-size: 14px;
      }
    }

    .paginate{
      @apply mt-6;
    }
  }
}
