<app-layout-page [title]="'Employee List'">
  <div class="employee-list-container">
    <section class="top">
      <button [routerLink]="['/add']" routerLinkActive="router-link-active"  class="btn-primary-submit">Add Employee</button>
      <form class="filter" [formGroup]="form" (ngSubmit)="onFilter()">

        <div class="search">
          <input type="text" placeholder="Search" formControlName="search">
          <div class="icon"><mat-icon aria-hidden="false" fontIcon="search"></mat-icon></div>
        </div>

        <app-shared-dropdown-v2
          formControlName="selectedOption"
          [options]="dropdownOptions"
          (ngModelChange)="OnDropDown($event)"
          placeholder="Short by"
        ></app-shared-dropdown-v2>

      </form>
    </section>

    <section class="employee-table">
      <table>
        <thead>
          <tr>
            <th class="text-center">User Name</th>
            <th class="hidden lg:block">Email</th>
            <th>Basic Salary</th>
            <th>Status</th>
            <th class="flex justify-center items-center">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let emp of paginatedEmployees">
            <td class="text-center">{{emp.username}}</td>
            <td class="hidden lg:block">{{emp.email}}</td>
            <td>{{emp.basicSalary | rupiah}}</td>
            <td>
              <span
                class="label"
                [ngClass]="{
                  'label-active': emp.status === 'Active',
                  'label-probation': emp.status === 'Probation',
                  'label-inactive': emp.status === 'Inactive'
                }">
                {{ emp.status }}
              </span>
            </td>
            <td class="flex justify-center items-center">
              <button [matMenuTriggerFor]="menu"><mat-icon aria-hidden="false" fontIcon="more_vert"></mat-icon></button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/' + emp.id + '']"><mat-icon aria-hidden="false" fontIcon="details"></mat-icon> Detail</button>
                <button mat-menu-item (click)="openSnackBar(emp.username, ' Has Edited', 'Close')"><mat-icon aria-hidden="false" fontIcon="edit"></mat-icon> Edit</button>
                <button mat-menu-item (click)="openSnackBar(emp.username, ' Has Deleted', 'Close')"><mat-icon aria-hidden="false" fontIcon="delete"></mat-icon> Delete</button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <div class="paginate">
    <mat-paginator
      [length]="totalEmployees"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
  </div>
</app-layout-page>
